.heading{
    font-size: 30px;
   width: 100%;
    margin-top: 0px;
    font-family: 'Vujahday Script', cursive;
}
.capturebutton{
 font-family: 'Vujahday Script', cursive;
 font-size: 25px;
}
canvas{
    animation-name: example;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes example{
    from{box-shadow:1px 1px 40px red;}
    to{box-shadow:1px 1px 40px white;}
}
